{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TimeandPlace</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Welcome to TimeandPlace</h1>
        <div class="controls">
            <select id="dress_code">
                <option value="casual">Casual</option>
                <option value="business-casual">Business Casual</option>
                <option value="semi-formal">Semi-Formal</option>
                <option value="business-formal">Business Formal</option>
            </select>

            <input type="number" id="temperature" placeholder="Temperature">
            <button id="capture-btn">Start Analysis</button>
        </div>

        <video id="video" autoplay></video>
        <canvas id="canvas" width="320" height="240" hidden></canvas>

        <div id="result" class="result">Analyzing...</div>
        <div id="details"></div>
    </div>
    <script src="/static/js/webcam.js"></script>
</body>
</html>